@charset "utf-8";
/* CSS Document */



.head ul { margin: 0 auto; padding: 0; white-space:nowrap; width:1250px;}
.head li { margin: 0; padding: 0;}
.head a { margin: 0; padding: 0;}
.head ul {list-style: none;}
.head a {text-decoration: none;}
.head {height: 35px;  box-shadow: 0px 2px 3px rgba(0,0,0,.4); background-color: #222326; border-bottom:solid 2px #393b40;}
.head > ul > li { display:inline-block; margin-left: 5px; position: relative;}
.head > ul > li > a {color: #848589; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 35px;padding: 0px 5px; text-shadow: 1px 1px 1px #555;}
.head > ul > li > a:hover 	{ cursor:pointer; color:#94d800;}
.head > ul > li.active 		{ border-bottom:solid 2px #94d800; }
.head > ul > li.active > a	{  color:#94d800;}
.head > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    padding: 3px 0 3px 0;
    background-color: #333;
    text-align: left;
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -30px;
    width: 150px;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
        box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

.head > ul > li:hover > ul {
    opacity: 1;
    top: 35px;
    visibility: visible;
	cursor:pointer;
}


.head > ul > li > ul > li > a:hover 	{ cursor:pointer; color:#94d800;}
.head > ul ul > li { position: relative;}

.head ul ul a{
    color: #DEDEDE;
    font-family: Verdana, 'Lucida Grande';
    font-size: 12px;
    background-color: #323232;
    padding: 5px 8px 7px 16px;
    display: block;
-webkit-transition: background-color .1s;
   -moz-transition: background-color .1s;
     -o-transition: background-color .1s;
        transition: background-color .1s;
}

.head ul ul a:hover {background-color: rgb(240,240,240); cursor:pointer;}

.head ul ul ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -16px;
    left: 206px;
    padding: 5px 0 5px 0;
    background-color: rgb(250,250,250);
    text-align: left;
    width: 120px;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
        box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}


.head ul ul > li:hover > ul { opacity: 1; left: 196px; visibility: visible; cursor:pointer;}

.head ul ul a:hover{
    background-color:#3A3A3A;
    color: rgb(240,240,240);
}









